{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <h1 class="text-center text-info m-5">Connectez-vous</h1>
    <form action="{{ path('security_login') }}" method="POST">
        <div class="form-group">
            <input type="text" placeholder="Adresse email ..." required name="_username" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Mot de passe ..." required name="_password" class="form-control">
        </div>
        <center>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Connexion</button>
            <span><a href="{{ path('security_registration') }}">Créez votre compte</a></span>
        </div>
        </center>
    </form>
    

</div>

{% endblock %}