{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae laudantium ad numquam cumque omnis ex, cupiditate error distinctio reprehenderit repellendus natus quae tenetur, modi eveniet, cum dolorum eaque totam necessitatibus magnam nobis fugiat voluptatibus! Perferendis error placeat dolor a labore!</p>

{% endblock %}